[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Elive Translations
Name[az]=Elive Translations
Name[bg]=Elive Translations
Name[bn]=ইলিভ অনুবাদ
Name[ca]=Elive Translations
Name[cs]=Překlady Elive
Name[da]=Elive Oversættelser
Name[de]=Elive-Übersetzungen
Name[el]=Elive Translations
Name[eo]=Elive Tradukoj
Name[es]=Elive Traducciones
Name[et]=Elive tõlked
Name[fi]=Elive käännökset
Name[fr]=Traductions Elive
Name[hi]=एलीव अनुवाद
Name[hr]=Elive Prijevodi
Name[hu]=Elive Translations
Name[id]=Terjemahan Elive
Name[it]=Elive Traduzioni
Name[ja]=イライブ翻訳
Name[ko]=살아있는 번역
Name[lt]=Elive vertimai
Name[lv]=Elive Translations
Name[ms]=Terjemahan Elive
Name[nb]=Elive-oversettelser
Name[nl]=Elive-vertalingen
Name[no]=Elive-oversettelser
Name[pl]=Elive Tłumaczenia
Name[pt]=Elive Traduções
Name[ro]=Elive Translations
Name[sk]=Preklady Elive
Name[sl]=Elive Translations
Name[sr]=Еливе Транслатионс
Name[sv]=Elive översättningar
Name[te]=ఎలివ్ అనువాదాలు
Name[tl]=Mga Elive Translation
Name[tr]=Elive Çevirileri
Name[uk]=Переклади Elive
Name[vi]=Bản dịch Elive
Name[zh]=现场翻译
GenericName=Eltrans
Comment=Tool to do translations in Elive
Comment[az]=Elive-də tərcümə etmək üçün alət
Comment[bg]=Инструмент за извършване на преводи в Elive
Comment[bn]=Elive-এ অনুবাদ করার টুল
Comment[ca]=Eina per fer traduccions a Elive
Comment[cs]=Nástroj pro překlady v Elive
Comment[da]=Værktøj til at lave oversættelser i Elive
Comment[de]=Tool zum Erstellen von Übersetzungen in Elive
Comment[el]=Εργαλείο για να κάνετε μεταφράσεις στο Elive
Comment[eo]=Ilo por fari tradukojn en Elive
Comment[es]=Herramienta para hacer traducciones en Elive
Comment[et]=Tööriist Elive'is tõlkimiseks
Comment[fi]=Työkalu käännösten tekemiseen Elivessä
Comment[fr]=Outil pour faire des traductions dans Elive
Comment[hi]=एलीव में अनुवाद करने का उपकरण
Comment[hr]=Alat za prijevode u Eliveu
Comment[hu]=Eszköz az Elive fordításához
Comment[id]=Alat untuk melakukan terjemahan di Elive
Comment[it]=Strumento per fare traduzioni in Elive
Comment[ja]=Elive で翻訳を行うためのツール
Comment[ko]='Elive에서 번역을 수행하는 도구'
Comment[lt]=„Elive“ vertimo įrankis
Comment[lv]=Rīks tulkojumu veikšanai pakalpojumā Elive
Comment[ms]=Alat untuk melakukan terjemahan dalam Elive
Comment[nb]=Verktøy for å gjøre oversettelser i Elive
Comment[nl]=Tool om vertalingen te doen in Elive
Comment[no]=Verktøy for å gjøre oversettelser i Elive
Comment[pl]=Narzędzie do wykonywania tłumaczeń w Elive
Comment[pt]=Ferramenta para fazer traduções no Elive
Comment[ro]=Instrument pentru a face traduceri în Elive
Comment[sk]=Nástroj na preklady v Elive
Comment[sl]=Orodje za prevajanje v Elive
Comment[sr]=Алат за преводе у Еливе
Comment[sv]=Verktyg för att göra översättningar i Elive
Comment[te]=Eliveలో అనువాదాలు చేయడానికి సాధనం
Comment[tl]=Tool para gumawa ng mga pagsasalin sa Elive
Comment[tr]=Elive'de çeviri yapmak için araç
Comment[uk]=Інструмент для перекладу в Elive
Comment[vi]=Công cụ dịch trong Elive
Comment[zh]=在 Elive 中进行翻译的工具
Icon=gtranslator
TryExec=eltrans
Exec=eltrans
Terminal=false
Categories=Elive
