[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Eltrans
GenericName=Elive translation tool
GenericName[vi]=Elive Dịch công cụ
GenericName[uk]=Elive Translator інструмент
GenericName[sv]=Elive Översättare verktyg
GenericName[es]=Elive herramienta Traductor
GenericName[sl]=Elive Translator orodje
GenericName[sk]=Elive Translator nástroje
GenericName[ru]=Elive Translator инструмент
GenericName[ro]=Elive Translator instrument
GenericName[pt]=Elive Translator ferramenta
GenericName[pl]=Elive Translator narzędzia
GenericName[no]=Elive Translator verktøy
GenericName[lt]=Elive Translator priemonė
GenericName[lv]=Elive Translator rīks
GenericName[ja]=Elive翻訳ツール
GenericName[it]=Elive Translator strumento
GenericName[id]=Elive Translator alat
GenericName[hi]=Elive अनुवादक उपकरण
GenericName[iw]=Elive מתרגם כלי
GenericName[el]=Μεταφραστής Elive εργαλείο
GenericName[de]=Elive Übersetzer-Tool
GenericName[fr]=Outil traductions pour Elive
GenericName[fi]=Elive Kääntäjä väline
GenericName[tl]=Elive Translator kasangkapan
GenericName[nl]=Elive Translator instrument
GenericName[da]=Elive Translator værktøj
GenericName[cs]=Elive Translator nástroje
GenericName[hr]=Prevoditelj Elive alat
GenericName[ca]=Elive eina Traductor
GenericName[bg]=Elive Translator инструмент
GenericName[ar]=Elive ترجمة أداة
Comment=Tool to do translations in Elive applications
Comment[vi]=Dụng cụ để làm bài dịch trong các ứng dụng Elive
Comment[uk]=Інструмент робити перекази в Elive заявок
Comment[sv]=Verktyg för att göra översättningar i Elive ansökningar
Comment[es]=Herramienta para hacer traducciones en aplicaciones Elive
Comment[sl]=Orodje za prevode v Elive aplikacije
Comment[sk]=Tool robiť preklady v Elive aplikácií
Comment[ru]=Инструмент делать переводы в Elive заявок
Comment[ro]=Instrument pentru a face traduceri în Elive aplicaţii
Comment[pt]=Ferramenta para fazer traduções em Elive aplicações
Comment[pl]=Narzędzie do tłumaczenia w Elive aplikacji
Comment[no]=Tool gjøre translations i Elive applikasjoner
Comment[lt]=Įrankis atlikti vertimus elive paraiškas
Comment[lv]=Rīku, lai do tulkojumi Elive pieteikumiem
Comment[ja]=ツールEliveのアプリケーションに翻訳を行うには
Comment[it]=Strumento per fare traduzioni in Elive applicazioni
Comment[id]=Alat untuk melakukan Terjemahan Elive dalam aplikasi
Comment[hi]=उपकरण Elive अनुप्रयोगों में अनुवाद करने के लिए
Comment[iw]=כלי לעשות תרגומי יישומים ב Elive
Comment[el]=Εργαλείο για να κάνει μεταφράσεις σε Elive αιτήσεις
Comment[de]=Tool zu tun, Übersetzungen in Elive Anwendungen
Comment[fr]=Outil pour faire des traductions dans Elive applications
Comment[fi]=Tool tehdä käännökset Elive sovelluksia
Comment[tl]=Tool upang gawin ang mga pagsasalin sa Elive mga aplikasyon
Comment[nl]=Tool doen vertalingen in Elive aanvragen
Comment[da]=Værktøj til at gøre oversættelserne i Elive ansøgninger
Comment[cs]=Tool dělat překlady v Elive aplikací
Comment[hr]=Alat za prijevode u Elive aplikacije
Comment[ca]=Eina per fer traduccions en aplicacions Elive
Comment[bg]=Инструмент за преводи в Elive приложения
Comment[ar]=أداة لترجمة Elive في التطبيقات
Icon=gtranslator
TryExec=eltrans
Exec=eltrans
Terminal=false
Categories=Elive
